{% extends 'layout.html' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Welcome to MyFlaskApp</h1>
        <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia blanditiis illum rerum quidem repellat beatae eaque obcaecati perspiciatis reiciendis optio quod culpa fugit dicta veniam, rem accusamus provident? Numquam, facere.</p>
        {% if session.logged_in == NULL %}
          <a href="/register" class="btn btn-primary btn-lg">Register</a>
          <a href="/login" class="btn btn-success btn-lg">Login</a>
        {% endif %}
    </div>
{% endblock %}
